### IntelliJ IDEA ###
.idea/
*.iml
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### General ###
*.log
*.class
*.tmp

*~
*.un~

### R / renv ###
# renv caches and local library
renv/library/
renv/staging/
renv/python/

# lockfile you usually DO want to keep (don’t ignore)
# renv.lock

# optional: project settings (can be regenerated)
renv/.cache/
renv/profiles/

